.col-lg-4.col-sm-6
  .panel.panel-default
    .panel-heading
      %h3.panel-title Events
    .panel-body
      .event-info
        .media
          .media-left.pull-left
            .date
              %p
                25
                %span May 2015
          .media-body.recent-event
            %h4.media-heading HackBeach
            %p
              %i.fa.fa-clock-o
              9:00 AM - 5:00 PM
              %br
              %i.fa.fa-map-marker
              Kovalam, Trivandrum
