.intro-header
  .container
    .row
      .col-lg-12
        .intro-message
          %h2 കോവളം എഴുത്തു കളരി
          %h2 Kovalam Ezhuthu Kalari
          %hr.intro-divider/
          %ul.list-inline
            %li
              = link_to about_path, class: 'btn btn-primary btn-lg' do
                %span
                  Read more

.content-section-a
  .container
    .row
      = render 'recent_activities'
      = render 'recent_events'

      .col-lg-4.col-sm-6
        %a{class: "twitter-timeline", href: "https://twitter.com/kekorgin", data: {'widget-id' => "633865879634100224"}} Tweets by @kekorgin
