.intro-header
  .container
    .row
      .col-lg-12
        .intro-message
          %h2 Lorem ipsum dolor sit amet, consectetur adipiscing elit 
          %hr.intro-divider/
          %ul.list-inline
            %li
              %a.btn.btn-primary.btn-lg
                %span Read more and apply
.content-section-a
  .container
    .row
      .col-lg-4.col-sm-6
        %h2.section-heading
          Recent Activities 
      .col-lg-4.col-sm-6
        %h2.section-heading
          Events
      .col-lg-4.col-sm-6
        %h2.section-heading
          %a{class: "twitter-timeline", href: "https://twitter.com/ershus", data: {'widget-id' => "604951134738915328"}} Tweets by @ershus
