.intro-header
  .container
    .row
      .col-lg-12
        .intro-message
          %h2 Lorem ipsum dolor sit amet, consectetur adipiscing elit
          %hr.intro-divider/
          %ul.list-inline
            %li
              %a.btn.btn-primary.btn-lg
                %span Read more and apply

.content-section-a
  .container
    .row
      = render 'recent_activities'
      = render 'recent_events'

      .col-lg-4.col-sm-6
        %a{class: "twitter-timeline", href: "https://twitter.com/kekorgin", data: {'widget-id' => "633865879634100224"}} Tweets by @kekorgin
