.container
  .row
    .col-lg-12
      .main-heading
        %h1 FAQ
      .faqs
        %h4 What ?
        %p
          A space to experiment to develop local technology, methods and knowledge
          to apply to local problems.

        %h4 Who ?
        %p
          Are you a Hacker (someone who likes playing with Tech ) ? Do you want to
          work on your own terms out of the buzz and smog of the city in a quiet
          place in an area of natural beauty ? Do you want to work on grassroots
          projects which impact the lives of local people around you ? Then that's
          who we are! :-)

        %h4 Why ?
        %p
          We're a group of tech refugees who fled the cities to the Himalayas to
          get away from it all. We found a way to make it work. And we now want to
          bring the goodness of our experience back to the rest of the country!

        %h4 How do I join you ?
        %p
          Come around and visit us on Open Days (Thursdays) for chaya or kappee
          after working hours (4pm). You'll bump into one of the current
          residents.
        %p OR, if you're far away,
        %p
          Email us at
          = link_to 'mail@kek.org.in', 'mailto:mail@kek.org.in'
        %p OR
        %p
          Follow us on twitter at
          = link_to 'twitter.com/kekorgin', 'https://twitter.com/kekorgin'
        %h4 What about the copyright to my work ?
        Your work is yours - we don't want to hold on to anything you work
        on. We do however ask that you post weekly on our community blog, so
        that other people can know what you're working on and collaborate with
        you.

        %h4 How long can I stay ?
        %p
          Residencies are expected to be on specific projects for a clear period
          of time. We do not encourage residencies longer than 6months. For longer
          periods of time, you could become a resident Alumnus, and we'll help you
          find local accommodation nearby.

        %h4 How much does it cost ?
        %p
          Residencies are currently 8000Rs/month + food. This gives you access to
          a bedroom with a bathroom attached as well as all the other facilities
          on the property.
        %p Shorter stays are possible, but please get in touch with us first.

        %h4 What else can I do in the area ?
        %p
          We're within 4km of the ocean and beach - which means you can easily
          find your way to the beach. We work closely with the Kovalam Surf club
          and the Kovalam Skate club. We also work very closely with a local
          charity (http://www.sisp.in) in their local social charible efforts.
