.container
  .row
    .col-md-8.col-md-offset-2
      .story.show-page
        %p.heading About

        %p
          K e-Kalari is inspired from the old "Kalari"
          traditions of Kerala. These educational spaces emphasised
          learning by doing, which is what we primarily love doing. We
          love to code, make, and play. In general, We do not like
          sitting in classrooms listening to lectures. If we have an
          idea, we start working on it, and people join in if they
          like it and are interested.

        %p Do you have an idea ? Come play with us!

        %p
          See our wiki here:
          = link_to 'wiki.kek.org.in', 'http://wiki.kek.org.in'

        %p
          We tweet here:
          = link_to '@kekorgin', 'https://twitter.com/kekorgin'

        %p
          Join our mailing list here:
          = link_to 'Kek-Friends', 'http://mail.kek.org.in/mailman/listinfo.cgi/friends'
