/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require font-awesome
 *= require bootstrap-datetimepicker
 *= require_tree ../../../vendor/assets/stylesheets/.
 *= require_self
 */

html {
  position: relative;
  min-height: 100%;
}

body {
  padding-top: 50px;
  margin-bottom: 30px;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 30px;
  background-color: white;
  padding: 14px 0;
}

.footer-content {
  border-top: 2px solid #eee;
  padding-top: 10px;
}

p, li {
  font-family: Georgia,Times,"Times New Roman",serif;
  font-size: 15px;
}

a.title-link:hover {
  text-decoration: none;
}

.new-button {
  padding-top: 15px;
}

p, em, a {
  font-family: "Benton Sans","Helvetica Neue",Helvetica,Roboto,Arial,sans-serif;
}

hr.dotted {
  border: none;
  border-top: 8px dotted #DBD7D7;
  color: #fff;
  background-color: #fff;
  height: 1px;
  width: 100%;
}

p.heading {
  font-size: 24px;
  line-height: 1.35;
  font-weight: normal;
}

.nav-active {
  background-color: #eee;
  &:hover {
    background-color: #eee !important;
  }
}

.calendar-icon {
  color: rgba(119, 119, 119, 0.66);
}

.reduce-opacity {
  opacity: .3;
}
