%footer
  .container
    .row
      .col-lg-10
        %ul.list-inline.footer-links
          %li
            %a{href: "#home"} Home
          %li.footer-menu-divider ⋅
          %li
            %a{href: "#about"} About
          %li.footer-menu-divider ⋅
          %li
            %a{href: "#services"} Services
          %li.footer-menu-divider ⋅
          %li
            %a{href: "#contact"} Contact
      .col-lg-2
        %p.copyright.text-muted.small
          Made with
          %i.fa.fa-heart
          in India
