%navbar.navbar-default.navbar-fixed-top{role: "navigation"}
  .container
    / Brand and toggle get grouped for better mobile display
    .navbar-header
      %button.navbar-toggle{"data-target" => "#bs-example-navbar-collapse-1", "data-toggle" => "collapse", type: "button"}
        %span.sr-only Toggle navigation
        %span.icon-bar
        %span.icon-bar
        %span.icon-bar
      %a.navbar-brand{href: "/"}
        %i.fa.fa-home
        KEK
    #bs-example-navbar-collapse-1.collapse.navbar-collapse
      %ul.nav.navbar-nav.navbar-right
        %li
          = link_to "Stories", stories_path, class: set_active_class(stories_path)
        %li
          = link_to "People", people_path, class: set_active_class(people_path)

        / %li
        /   %a{href: "#"} People
        %li
          = link_to 'Events', events_path, class: set_active_class(events_path)
        %li
          = link_to 'FAQ', faq_path, class: set_active_class(faq_path)
        %li
          = link_to 'Contact', contact_path, class: set_active_class(contact_path)
        %li
          = link_to 'About', about_path, class: set_active_class(about_path)

        - if user_signed_in?
          - if current_user.role == 'admin'
            %li
              = link_to 'Approve users', approve_users_path
          %li
            = link_to 'Log out', destroy_user_session_path, method: :delete
        - else
          %li
            = link_to 'Login', new_user_session_path, class: set_active_class(new_user_session_path)
